BODY, DIV, P, SPAN, TD {
	font-family: arial,sans-serif;
}

h4 { 
	margin-top: 5px;
	margin-bottom: 0px;
}

/*****************************************************************************/
/**
  *   Citation Linker (aka the Article Linker Citation Refiner)
  *        The following selectors pertain to the ArticleLinker
  *        Citation Linker Page
  */

SPAN.RefinerLabel,
TD.RefinerLabel,
DIV.RefinerLabel {
	width: auto;
	font-size: 0.9em;
	font-weight: bold;
	text-align: right;
} 

span.SuppressionLink,
.SSCriteriaErrorIndicator{
	color: red;
}

.SSRefinerError{
	font-weight: bold;
	color: red;
}

span.SS_Refiner{
	text-align: right;
	font-size: 64%;
}

.RefinerLabel {
	width: 12.5%;
	font-weight: bold;
	text-align: right;
	padding-left: 5px;
}

.RefinerFooter {
	text-align: center;
}

.RefinerForm {
	border: 0;
	padding: 0;
	margin:0px 5px 0px 5px;
}

.RefinerBannerText {
	text-align: center; 
}  

td.SSRefinerJournalDateInput,
td.SSRefinerJournalPageInput,
td.SSRefinerJournalIssueInput,
td.SSRefinerJournalVolumeInput {
    width: 12.5%;
}

.RefinerJournalISSNInput,
RefinerJournalTitleInput,
#RefinerISBNLabel,
.SSRefinerDissertationISBNInput,
.SSRefinerDisserationDateInput,	
.SSRefinerBookISBNInput
#RefinerPubDateLabel,
#RefinerDateLabel,
.SSRefinerPatentPubDateInput,
.SSRefinerPatentDateInput {
	width: 25%;
}

td.CriteriaRefinerButtonRow {
	text-align: center;
}

/** Brief Citation display **/
span.CitationSource,
span.CitationISSN,
span.CitationISBN
{
	font-style: italic;
}

span.CitationPMIDLabel,
span.CitationDOILabel
{
	padding: 5px;
	font-weight: bold;
	font-size: 13px;
}

/** Circular Link Suppression **/

span.SuppressionPreLink {
    font-size: small;
}

/*** One-Click helper frame ***/

td.SSALOneClickHelperImage {
    text-align: left;
    vertical-align: middle;
}

img.SSALOneClickHelperImage {
    border:none;
}

td.SSALOneClickHelperMessage {
/*
    text-align: center;
    vertical-align: center;
*/
}

td.SSALOneClickHelperHelperMessage {
    text-align: right;
    vertical-align: center;
}   

A.btnNarrow{
	display:block;
	width:150px;
}

A.btnWide{
	display:block;
	width:250px;
}

BR.ShortBR {
	line-height:1px;
	height:1px;
}

INPUT.RefinerInput { 
	position: relative;
	width: 100%;
	overflow: hidden;
}

DIV.AlertFlag  {
	font-size: 0.9em;
	margin: 5px 0 0 0;
	text-align: center;
}

SPAN.AlertFlag {
	color: #ff0000;
	display: block;
	font-weight: bold;
}

TABLE.WideNoBorder {
	width: 100%;	
	border: 0;
	margin: 0;
	clear: both;
}

.SS_NoResults {
    font-weight: bold;
	margin: 0 0 0 5px;
}

.SS_AdditionalOptions,
.SS_ResultsTypeNote {
     font-weight: bold;
}

.BorderN {
	white-space: nowrap;
}

.CitationLabel {
  font-weight:normal;
  text-align: left;
}
  
.JustifyCenter {
	text-align:center;
}

.JustifyLeft {
	text-align:left;
}

.JustifyRight {
	text-align:right;
}

.NoteFlag {
	border: 1px solid #ff9900;
	color: #ff9900;
	font-size: 0.8em;
	margin-right: 5px;
	padding: 2px;
	position: relative;
	z-index: 1;
}


.CitationSearchResults {
	position: relative;
	z-index: 1;
}

.ResultsRow0 {
	background-color: #eeeeee;
}

.txtSmaller {
	font-size: 0.8em;
}

.txtSmallest {
	font-size: 0.6em;
}

.txtNotice {
	color: #ff0000;
}

div.crossRefResponseMessage { 
   text-align: left;
}

div.crossRefWaitingMessage { 
   display: none;  
   font-size: 84%;
   text-align: center;
}

img.crossRefImg { 
   width: auto; 
   float: left;
   padding-right: 5px;
}

img.crossRefImgInline {
   width: auto;
}

img.airWayImgInline {
   width: auto;
}

img.crossRefWaitingImg {
   padding-top: 10px;
   width: auto;
}

#crossRefMessage {
   border: 1px #999999 solid;
   background-color: white;
}

#AIRwayMessage {
   border: 1px #999999 solid;
   background-color: white;
}

#ContentAvailableTable,ContentNotAvailableTable {
    width: 100%;
}

table#BookLinkTable caption, table#JournalLinkTable caption {
    font-size: 110%;
    font-weight: bold;
    text-align: left;
    padding-bottom:20px;
}

#CitationResults {
	width: 100%;
	position:relative;
	top:10px;
	margin-top:10px;
}

#CitationJournalArticleLabel,
#CitationJournalArticleValue,
#CitationJournalAuthorLabel,
#CitationJournalAuthorValue,
#CitationJournalTitleLabel,
#CitationJournalTitleValue,
#CitationJournalIssnLabel,
#CitationJournalDateLabel,
#CitationJournalDateValue,
#CitationJournalVolumeLabel,
#CitationJournalVolumeValue,
#CitationJournalIssueLabel,
#CitationJournalIssueValue,
#CitationJournalPageLabel,
#CitationJournalPageValue,
#CitationJournalPMIDLabel,
#CitationJournalPMIDValue,
#CitationJournalDOILabel,
#CitationJournalDOIValue,
#CitationBookChapterLabel,
#CitationBookChapterValue,
#CitationBookAuthorLabel,
#CitationBookAuthorValue,
#CitationBookTitleLabel,
#CitationBookTitleValue,
#CitationBookISBNLabel,
#CitationBookISBNValue,
#CitationBookPlaceLabel,
#CitationBookPlaceValue,
#CitationBookPublisherLabel,
#CitationBookPublisherValue,
#CitationBookDateLabel,
#CitationBookDateValue
#CitationDissertationAdvisorLabel,
#CitationDissertationAdvisorValue,
#CitationDissertationAuthorLabel,
#CitationDissertationAuthorValue,
#CitationDissertationTitleLabel,
#CitationDissertationTitleValue,
#CitationDissertationISBNLabel,
#CitationDissertationISBNValue,
#CitationDissertationInstitutionLabel,
#CitationDissertationInstitutionValue,
#CitationDissertationDateLabel,
#CitationDissertationDateValue,
#CitationUnknownDocumentLabel,
#CitationUnknownDocumentValue,
#CitationUnknownAuthorLabel
#CitationUnknownAuthorValue,
#CitationUnknownPublicationLabel,
#CitationUnknownPublicationValue,
#CitationUnknownISBNLabel,
#CitationUnknownISBNValue,
#CitationUnknownISSNLabel,
#CitationUnknownISSNValue,
#CitationUnknownDateLabel,
#CitationUnknownDateValue,
#CitationPatentDateLabel,
#CitationPatentDateValue,
#CitationPatentNumberLabel,
#CitationPatentNumberValue,
#CitationPatentInventorLabel,
#CitationPatentInventorValue,
#CitationPatentInventorDateLabel,
#CitationPatentInventorDateValue
{}

#CrossRefTable,
#JournalLinkTable,
#ArticleCL,
#CxRefArticleCL,
#ChapterCL,
#DOINumber,
#DatabaseCL,
#DateCL,
#JournalCL,
#googleCL
{}

#CFocusTag,
#CitationJournalTitleValue,
#CitationIssnValue,
#CitationBookISBNValue,
#CitationBookDateValue,
#CitationDissertationDateValue,
#CitationDissertationInstitutionValue,
#CitationDissertationAdvisorValue,
#CitationPatentNumberValue,
#CitationPatentDateValue,
#CitationUnknownTitleValue,
#CitationUnknownDateValue {
	width: 100%;
}

#RefinerJournalGenreInput {
	white-space: nowrap;
	clear: none;
}

#RefinerLink1 {
	margin:10px 5px 5px 0;
	padding:0;
	clear: both
}

#RefinerLink2,
#RefinerLink3  {
	margin:5px 0px 5px 0;
	padding:0;
	clear: both
}

#switchDemo {
	position:absolute;
	left:700px;
	top:150px;
	display: block;
	width:300px;
	height:200px;
	z-index: 100;
	background-color: white;
	border: 2px double black;
}

/**
 *    Legacy 
 */
span.SS_ContentHeading {
	font-size:64%
}

div.SS_CopyRightStatement {
  text-align: center;
}


span.SS_IssnText {
	white-space:nowrap;
}
div.SS_JournalAlternateTitle {
    font-size:84%;
}
div.SS_HoldingText {
    font-size:84%;
}

/**
 *    PageMessage Section: 
 *		These selectors pertain to the default PageMessage section
 *      located at the top of the search results pages.  
 */

table.SS_PageMessageTop{
    background-color: #D6E7F7;   
    width: 100%;
	 font-family: Arial; 
}
span.SS_LibraryName {
    text-align: left;
    font-weight: bold;
	 font-size: x-large;
}
span.SS_PageTitle {
    text-align: left;
    font-weight: bold;  
    font-size: large;
}
span.SS_Date {
    font-size:84%;
}
span.SS_Edition {
    font-size:84%;
}
span.SS_Authors {
    font-size:84%;
}
span.SS_Publisher {
   font-size:84%;
}
div.SS_EJLogo {
    text-align: right;
}
table.SS_PageMessageBottom{
    width: 100%;
    border: 3px solid #D6E7F7;
}
td.SS_PageMessageNavigationBar {
    text-align: right;
}
a.SS_EJHomeLink {
    margin-right: 6px;
}
a.SS_HelpLink {
    margin-right: 6px;	
}
 
.Citation {
    padding: 5px;
    font-size: 13px;
}

.CitationDOI,
.CitationPMID {
	font-size: 13px;
}

table.SSALExportCitationForm {
    font-size: small;
    background: #EEEEEE;
    width: 465px;
    border: solid 1px black;
}

table.SSALEmailCitationForm {
    font-size: small;
    background: #EEEEEE;
    width: 540px;
    border: solid 1px black;
}

table.SSALEmailItemForm {
    font-size: small;
    background: #EEEEEE;
}

table.SSALEmailConfirmation {
    font-size: small;
    background: #EEEEEE;
    width: 465px;
    border: solid 1px black;
}

td.SSALExportCitationFormHeading {
    text-align: left;
    margin: 15px;
    font-size: large;
    font-style: italic;
}

td.SSALExportCitationFormHeadingSmall {
    text-align: left;
    margin: 15px;
    font-size: 13px;
    font-weight: bold;
}

td.SSALExportItemFormSubmit {
    text-align: right;	
}

img.SSALArrowLinkImage {
    padding-bottom: 3px;
    border-style: none;
}

td.SSALEmailCitationFormHeading {
    text-align: left;
    margin: 15px;
    font-size: large;
    font-style: italic;
}

td.SSALEmailItemFormSubmit {
    text-align: right;  
}

.SSALRequiredField {
    color: #ff0000;
    padding-right: 0.1em;
}

.SSALEmailInputField {
    font-family: serif;
    font-size: 100%;
}

td.SSALEmailFormLabel {
    text-align: left;
    width: 120px;
    vertical-align: top;
}

.SSALItemsEmailMessage {
    color: #ff0000;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
}

span.SSALItemExport,
span.SSALItemEmail {
   font-size:90%;	
}

a.SSALExportLink {
   text-decoration: none;
}

a.SSALExportLink:hover {
   color: blue;
   text-decoration: underline;
}

a.SSALExportLink:visited {
   color: blue;      
}

a.SSALExportLink:active {
   color: blue;      
   text-decoration: underline;
}

div.SSALCitationStyleInfoLink {
   font-size: 12px; 
   font-weight: normal;
}


